.preview-area {
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #DEDEDE;
  border: .05rem solid;
  border-color: #acbac3;
  color: #000;
  border-radius: .15rem;
  font-size: .65rem;
  width: 100%;
  line-height: 1.1;
  height: 22.5em;
}

.pattern-input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: 0 0;
  height: 30px;
  color: #000;
  display: inline-block;
  padding: 0 .3rem;
  margin-left: 5px;
  font-size: .65rem;
}

.entry-span {
  background-color: #C8EAF9;
}

.selected-column {
  background-color: #d7fcd5cc;
}